function Main.main 3
push constant 3
call String.new 1
push constant 97
call String.appendChar 2
push constant 98
call String.appendChar 2
push constant 99
call String.appendChar 2
pop local 0
push constant 0
pop local 1
push constant 1
neg
pop local 2
push constant 0
pop local 2
push constant 0
return
